<!DOCTYPE html>
<html lang="en">
<head>
  <title>Toyshop</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="container">
    <%= yield %>
  </div>
  <div class="container text-center">
    <hr>
    <small>熊熊玩具店 @ 2015</small>
  </div>
</body>
</html>
